{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <!-- bootstrap
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        -->
        <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->
        <link rel="stylesheet" href="{% static "css/log_in.css" %}">
        <link rel="shortcut icon" href={% static "img/favicon.ICO" %} type="image/x-icon">
    </head>
    <body>
    <div id="wrapper">
        <div id="top">
            <div id="img"></div>
        </div>

        <div class="login-box">
            <div id="lb_header">
                <p>로그인</p>
            </div>

            <form class="login" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="u-form-group">
                    {{ form.username }}
                </div>
                <div class="u-form-group">
                    {{ form.password }}
                </div>

                <div id="space">
                    {% if form.errors %}
                        <p>ID나 비밀번호가 일치하지 않습니다.</p>
                    {% endif %}
                </div>

                <div class="u-form-group">
                    <button>로그인</button>
                </div>
				<div class='u-form-group'>
					<a href="./registration">회원가입</a>
				</div>
            </form>
        </div>
    </div>
    <!--
        {% if form.errors %}
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}
        <div>
            <form name="LoginForm" method="POST" action="">
                {% csrf_token %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>권한이 없습니다.</p>
                    {% else %}
                        <p>로그인을 해주세요</p>
                    {% endif %}
                {% endif %}
                {{ form.as_p }}
                <input type="submit"/>
            </form>
        </div>
    -->
    </body>
</html>
