<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <meta charset = "UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- 부가적인 테마 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
		<div>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="/main">추천</a></li>
				<li role="presentation"><a href="/prefer/">선호도 입력</a></li>
				<li role="presentation"><a href="/logout/">로그아웃</a></li>
			</ul>
			<!--{{user.username}}  | <a href="/logout">로그아웃</a>-->
		</div>
		<div>
			

			<ul class="list-group">
				<li class="list-group-item">
					<div>
						추천음식정보
					</div>
					<div>
						추천식당 목록
					</div>
				</li>
				<li class="list-group-item">Second item</li>
				<li class="list-group-item">Third item</li>
			</ul>
		</div>
    </body>
</html>
